<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <div class="home max-width margin-top container-fluid no-padd">
      <!-- carousel -->
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/banners/Banner-1.png"
              class="d-block w-100"
              alt="banner 1"
            />
            <div class="info-carousel">
              <h5>Desinfección</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut
                praesentium nostrum tenetur excepturi harum eveniet!
              </p>
              <br />
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/images/banners/Banner-2.png"
              class="d-block w-100"
              alt="banner 2"
            />
            <div class="info-carousel">
              <h5>Maquinas de confianza</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut
                praesentium nostrum tenetur excepturi harum eveniet!
              </p>
              <br />
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/images/banners/Banner-3.png"
              class="d-block w-100"
              alt="banner 3"
            />
            <div class="info-carousel">
              <h5>Nuestros servicios</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut
                praesentium nostrum tenetur excepturi harum eveniet!
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>

      <!-- About us -->
      <section id="nosotros" class="about-us max-width">
        <img
          class="w-100"
          src="/images/nosotros/nosotros.png"
          alt="imagen sobre nosotros"
        />
        <div class="info-us">
          <h4>¿Quiénes somos?</h4>
          <span
            >Somos una empresa comprometida y dedicada a la limpieza y desinfección. Nuestros empleados son capacitados en la manipulación y utilización de productos químicos, para desarrollar un trabajo profesional y efectivo. Trabajamos con máquinas de última generación, realizamos tratamiento adecuado en diferentes tipos de pisos y tenemos como prioridad que las medidas de higiene y seguridad sean respetadas en cada área, dándoles confianza a nuestros clientes de manera absoluta.</span
          >
        </div>
      </section>

      <!-- Services -->
      <section class="services si-padd my-5">
        <h3 class="text-center fw-bold mb-3">Servicios</h3>
        <ul class="services-list row">
          <li class="col-6 col-md-4">
            <a href="/abonos-servicios#desinfeccion">
              <div>
                <img
                  class="h-100"
                  src="/images/icons/icon-rociador.png"
                  alt="icono desinfección"
                />
              </div>
              <p>Desinfección</p>
            </a>
          </li>
          <li class="col-6 col-md-4">
            <a href="/abonos-servicios/#limpieza-de-oficinas">
              <div>
                <img
                  class="h-100"
                  src="/images/icons/icon-office.png"
                  alt="icono limpieza de oficinas"
                />
              </div>
              <p>Limpieza de oficinas</p>
            </a>
          </li>
          <li class="col-6 col-md-4">
            <a href="/abonos-servicios/#finales-de-obra">
              <div>
                <img
                  class="h-100"
                  src="/images/icons/icon-construccion.png"
                  alt="icono final de obra"
                />
              </div>
              <p>Final de obra</p>
            </a>
          </li>
          <li class="col-6 col-md-4">
            <a href="/abonos-servicios/#limpieza-en-escuelas">
              <div>
                <img
                  class="h-100"
                  src="/images/icons/icon-escuela.png"
                  alt="icono limpieza en escuela"
                />
              </div>
              <p>Limpieza en escuelas</p>
            </a>
          </li>
          <li class="col-6 col-md-4">
            <a href="/abonos-servicios/#servicios-de-hoteleria">
              <div>
                <img
                  class="h-100"
                  src="/images/icons/icon-hotel.png"
                  alt="icono hoteleria"
                />
              </div>
              <p>Servicios de hotelería</p>
            </a>
          </li>
          <li class="col-6 col-md-4">
            <a href="/abonos-servicios/#servicios-de-hoteleria-en-hospitales">
              <div>
                <img
                  class="h-100"
                  src="/images/icons/icon-holpital.png"
                  alt="icono hotelería en hospitales"
                />
              </div>
              <p>
                Servicios de hotelería <br />
                en hospitales
              </p>
            </a>
          </li>
        </ul>
      </section>
      <!-- info-covid -->
      <section class="covid max-width">
        <img class="w-100" src="/images/info/info-covid.png" alt="info covid" />
        <div class="info-covid">
          <h4>INFORMACION:</h4>
          <span>Cada gramo de suciedad contiene más de 3,000 000 de bacterias nocivas. Las bacterias son causas directas de enfermedades como el cólera, tuberculosis, diarreas, infecciones respiratorias, etc. La limpieza es importante porque proporciona salud, comodidad, seguridad, belleza, orden, imagen, ambiente limpio e higiénico, por lo que evita enfermedades, las personas son más productivas, se descansa mejor, y todo esto se traduce en satisfacción.</span
          >
        </div>
      </section>
      <!-- CV form -->
      <section id="cv" class="cv-section my-5 px-5">
        <h4 class="text-center fw-bold">¡QUEREMOS CONOCERTE!</h4>
        <p class="text-center fs-5 mb-5">
          Llená el formulario para trabajar con nosotros
        </p>

        <div class="row">
          <div class="warnings col-12 col-md-6 fs-6">
            <p>No olvides de:</p>
            <ol>
              <li>Completar con todos tus datos reales.</li>
              <li>Incluír el código de área en tu teléfono.</li>
              <li>Adjuntar tu CV</li>
            </ol>
          </div>

          <form
            action="/cv"
            class="text-center form-group cv-form col-12 col-md-6"
            enctype="multipart/form-data"
            method="POST"
          >
          <!-- Nombre completo -->
            <input
              class="form-control <%= (typeof errores != 'undefined' &&
              errores.fullName) ? " is-invalid" : null %> <%= (typeof errores
              !='undefined' && !errores.fullName) ? "is-valid" : null %>"
              type="text"
              name="fullName"
              id=""
              value="<%= (typeof old !='undefined' && old.fullName
          ? old.fullName : null) %>"
              placeholder="Nombre y apellido"
              
            />
            <p class="error-fullName font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.fullName) ?
              errores.fullName.msg : null %></p>
            <!-- telefono -->
            <input
              class="form-control <%= (typeof errores != 'undefined' &&
              errores.tel) ? " is-invalid" : null %> <%= (typeof errores
              !='undefined' && !errores.tel) ? "is-valid" : null %>"
              type="text"
              name="tel"
              id=""
              value="<%= (typeof old !='undefined' && old.tel
            ? old.tel : null) %>"
              placeholder="Teléfono"
            />
            <p class="errorTel font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.tel) ?
              errores.tel.msg : null %></p>
              <!-- Localidad -->
            <input
              class="form-control <%= (typeof errores != 'undefined' &&
              errores.district) ? " is-invalid" : null %> <%= (typeof errores
              !='undefined' && !errores.district) ? "is-valid" : null %>"
              type="text"
              name="district"
              id=""
              value="<%= (typeof old !='undefined' && old.district
            ? old.district : null) %>"
              placeholder="Localidad"
            />
            <p class="error-district font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.district) ?
              errores.district.msg : null %></p>
            
            <!-- email -->
            <input
              class="form-control  <%= (typeof errores != 'undefined' &&
              errores.email) ? " is-invalid" : null %> <%= (typeof errores
              !='undefined' && !errores.email) ? "is-valid" : null %>"
              type="email"
              name="email"
              id=""
              value="<%= (typeof old !='undefined' && old.email
            ? old.email : null) %>"
              placeholder="Email"
            />
            <p class="error-email font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.email) ?
              errores.email.msg : null %></p>

              <!-- Mensaje -->
            <textarea
              class="form-control <%= (typeof errores != 'undefined' &&
              errores.message) ? " is-invalid" : null %> <%= (typeof errores
              !='undefined' && !errores.message) ? "is-valid" : null %>"
              name="message"
              id=""
              cols="30"
              rows="3"
              value="<%= (typeof old !='undefined' && old.message
              ? old.message : null) %>"
              placeholder="Mensaje de presentación (opcional)"
            ></textarea>
            <p class="error-message font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.message) ?
              errores.message.msg : null %></p>

            <!-- cv -->
            <input class="form-control <%= (typeof error
            !='undefined' && error.cv) ? "is-invalid" : null %>" 
            type="file" 
            name="cv" 
            id="" />
            <p class="errorFile font-red fw-normal d-block text-start my-1"><%= (typeof error !='undefined' && error.cv) ?
              error.cv.msg : null %></p>

            <p class="error text-center font-red fw-normal d-block text-start my-1"></p>

            <button
              class="fw-bold btn btn-dark btn-blue-dark mt-3 px-4 py-1"
              type="submit"
            >
              Enviar
            </button>
          </form>
        </div>
      </section>

    </div>

    <%- include('./partials/footer') %>

    <!-- validacion -->
    <script src="/javascripts/cvValidator.js"></script>
    <!-- sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  </body>
</html>
