<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div class="budgets-services margin-top max-width container-fluid no-padd">
      <!-- Budgets -->
      <div class="budgets d-flex justify-content-around">
        <img src="/images/budgets/budget.png" width="100%" alt="">
        <div class="budgets-container py-4">
          <h3 class="text-center fw-bold">NUESTROS PRESUPUESTOS</h3>
          <div
            class="
              d-flex
              w-100
              m-0
              justify-content-around
              flex-wrap
              budgets-list
            "
          >

          <% budgets.forEach(budget => { %>
           
            <div class="budget-card fw-bold no-padd text-center py-1 my-4 mx-5">
              <h6 class="fw-bold m-0 px-3"><%= budget.name %> </h6>
              <h5 class="fw-bold">$<%= budget.price %> </h5>
              <ul class="budget-detail">
                <li><%= budget.week %>  vez por semana</li>
                <li><%= budget.hours %> horas</li>
                <li><%= budget.iva == 0 ? "No" : "Si" %> incluye IVA</li>
                <li><%= budget.materials == 0 ? "No" : "Si" %>  incluye materiales</li>
              </ul>
              <form action="" method="POST">
              <a href="/admin/editar-presupuesto" class="btn btn-dark btn-blue mt-1 p-1 btn-edit-delete fw-bold"
                >EDITAR</a
              >
              <button type="submit" class="btn btn-dark btn-red mt-1 p-1 btn-edit-delete fw-bold btn-false"
                >ELIMINAR</button
              >
            </form>
            </div>

          <% }) %>

          </div>
        </div>
      </div>

      <!-- Why hire us -->
      <div class="hire-us my-5">
        <img src="/images/budgets/budget.png" width="100%" alt="">
        <div class="hire-us-text">
          <h2 class="fw-bold text-center mb-4">¿POR QUÉ CONTRATARNOS?</h2>
        <h4 class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          deserunt consequuntur esse repudiandae iste voluptatum doloribus
          libero sed perferendis eius accusamus ab ad vitae facere nihil quod
          officia dolor perspiciatis modi, fuga nisi veniam? Earum, aperiam,
          provident cum laborum nam mollitia recusandae culpa quisquam deleniti
          modi ipsa voluptates accusantium animi?
        </h4>
        </div>
        
      </div>

      <!-- Services -->
      <div id="servicios" class="services">
        <h3 class="text-center fw-bold m-0 py-1">Nuestros servicios</h3>
        <!-- Repeat services -->
        <!-- 1 -->
        <div id="desinfeccion" class="service-box w-100 position-relative">
          <img
            class="w-100"
            src="/images/services/service-desinfection.png"
            alt=""
          />
          <div class="service-text service-name
          position-absolute
          w-100
          start-50
          translate-middle
          text-center">
            <h4 class="fw-bold">
            DESINFECCIÓN
          </h4>
          <p class="px-1">Nos encargamos de eliminar los gérmenes y bacterias que infectan o que pueden provocar una infección en un cuerpo o en un lugar.</p>
          </div>
          
        </div>
        <!-- 2 -->
        <div id="limpieza-de-oficinas" class="service-box w-100 position-relative">
          <img
            class="w-100"
            src="/images/services/service-crearingOffice.png"
            alt=""
          />
          <div class="service-text service-name
          position-absolute
          w-100
          start-50
          translate-middle
          text-center">
            <h4 class="fw-bold">
            LIMPIEZA DE OFICINAS
          </h4>
          <p class="px-1">Nos encargamos de la limpieza de su lugar de trabajo para que pueda comenzar su día laboral en un espacio limpio y agradable.</p>
          </div>
        </div>
        <!-- 3 -->
        <div id="finales-de-obra" class="service-box w-100 position-relative">
          <img
            class="w-100"
            src="/images/services/service-endOfWork.png"
            alt=""
          />
          <div class="service-text service-name
          position-absolute
          w-100
          start-50
          translate-middle
          text-center">
            <h4 class="fw-bold">
            FINALES DE OBRA
          </h4>
          <p class="px-1">Ofrecemos servicio de limpieza final de obra, una vez finalizados los trabajos de albañilería, pintura, etc. Se limpian las instalaciones para proceder a su entrega u utilización.</p>
          </div>
        </div>
        <!-- 4 -->
        <div id="limpieza-en-escuelas" class="service-box w-100 position-relative">
          <img
            class="w-100"
            src="/images/services/service-schools.png"
            alt=""
          />
          <div class="service-text service-name
          position-absolute
          w-100
          start-50
          translate-middle
          text-center">
            <h4 class="fw-bold">
            LIMPIEZA DE ESCUELAS
          </h4>
          <p class="px-1">La limpieza y desinfección en las escuelas es una parte importante para prevenir y minimizar la propagación de patógenos en el entorno escolar.</p>
          </div>
        </div>
        <!-- 5 -->
        <div id="servicios-de-hoteleria" class="service-box w-100 position-relative">
          <img class="w-100" src="/images/services/service-hotel.png" alt="" />
          <div class="service-text service-name
          position-absolute
          w-100
          start-50
          translate-middle
          text-center">
            <h4 class="fw-bold">
            LIMPIEZA DE HOTELERÍA
          </h4>
          <p class="px-1">Realizamos nuestro servicio garantizando limpieza, calidad y desinfección. logrando así un ambiente optimo, más atractivo, confortable y saludable.</p>
          </div>
        </div>
        </div>
        <!-- 6 -->
        <div
          id="servicios-de-hoteleria-en-hospitales"
          class="service-box w-100 position-relative"
        >
          <img
            class="w-100"
            src="/images/services/service-hospital.png"
            alt=""
          />
          <div class="service-text service-name
          position-absolute
          w-100
          start-50
          translate-middle
          text-center">
            <h4 class="fw-bold">
            LIMPIEZA EN HOSPITALES
          </h4>
          <p class="px-1">Aplicamos protocolos específicos de limpieza usando productos y maquinaria de última generación.</p>
          </div>
        </div>
      </div>

      <!-- custom quote form -->
      <div id="consulta-personalizada" class="custom-quote row p-4">
        <div class="title col-12 col-md-6">
          <h2 class="fw-bold mb-4">¿NECESITAS UNA COTIZACION PERSONALIZADA?</h2>
          <h4 class="mb-4">
            Completa el formulario y nos comunicaremos con la propuesta que se
            ajuste a tu necesidad.
          </h4>

         

            <% if (typeof consultingError !== 'undefined') { %>
              <h4 class="mb-4 alert alert-danger" role="alert"> Algo salió mal favor complete nuevamente el formulario</h4>
            <% } else if (typeof consultingSuccess !== 'undefined') { %>
              <h4 class="mb-4 alert alert-success" role="alert">La consulta se ha enviado exitosamente</h4>
            <% } %>


          

        </div>

        <form
          action="/consult"
          class="
            form-consultation
            text-center
            form-group
            cv-form
            col-12 col-md-6
          "
          method="POST"
        >

        <!-- nombre completo -->
          <input
            class="form-control <%= (typeof errores != 'undefined' &&
            errores.fullName) ? " is-invalid" : null %> <%= (typeof errores
            !='undefined' && !errores.fullName) ? "is-valid" : null %>"
            type="text"
            name="fullName"
            id=""
            value="<%= (typeof old !='undefined' && old.fullName
          ? old.fullName : null) %>"
            placeholder="Nombre y apellido"
          />
          <p class="error-fullName font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.fullName) ?
            errores.fullName.msg : null %></p>

  <!-- telefono -->
          <input
            class="form-control <%= (typeof errores != 'undefined' &&
            errores.tel) ? " is-invalid" : null %> <%= (typeof errores
            !='undefined' && !errores.tel) ? "is-valid" : null %>"
            type="number"
            name="tel"
            id=""
            value="<%= (typeof old !='undefined' && old.tel
            ? old.tel : null) %>"
            placeholder="Teléfono"
          />
          <p class="errorTel font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.tel) ?
            errores.tel.msg : null %></p>

          <!-- email -->
          <input
            class="form-control <%= (typeof errores != 'undefined' &&
            errores.email) ? " is-invalid" : null %> <%= (typeof errores
            !='undefined' && !errores.email) ? "is-valid" : null %>"
            type="email"
            name="email"
            id=""
            value="<%= (typeof old !='undefined' && old.email
            ? old.email : null) %>"
            placeholder="Email"
          />
          <p class="error-email font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.email) ?
            errores.email.msg : null %></p>

            <!-- mensaje -->
          <textarea
            class="form-control <%= (typeof errores != 'undefined' &&
            errores.message) ? " is-invalid" : null %> <%= (typeof errores
            !='undefined' && !errores.message) ? "is-valid" : null %>"
            name="message"
            id=""
            cols="30"
            rows="3"
            value="<%= (typeof old !='undefined' && old.message
            ? old.message : null) %>"
            placeholder="Mensaje"
          ></textarea>
          <p class="error-message font-red fw-normal d-block text-start my-1"><%= (typeof errores !='undefined' && errores.message) ?
            errores.message.msg : null %></p>

            <p class="error font-red fw-normal d-block text-start my-1 text-center"></p>

          <button
            class="fw-bold btn btn-dark btn-blue fs-5 mt-3 px-4 py-1"
            type="submit"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>

    <%- include('./partials/footer') %>
    <!-- sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/serviceImages.js"></script>
  <!-- valdaciones -->
    <script src="/javascripts/consultValidator.js"></script>
  
  </body>
</html>
