<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head")  %> 
<body>
<%- include("./partials/header")  %> 

<div class="budgets-services admin-budget-list container-fluid margin-admin-top no-padd max-width">
    <!-- Budgets -->
    <div class="budgets">
        <div class="budgets-container py-4">
          <h3 class="text-center fw-bold">NUESTROS PRESUPUESTOS</h3>
          <div
            class="
              d-flex
              w-100
              m-0
              justify-content-around
              flex-wrap
              budgets-list
            "
          >
          <% budgets.forEach(budget => { %>
           
            <div class="budget-card fw-bold no-padd text-center py-1 my-4 mx-5">
              <h6 class="fw-bold m-0 px-3"><%= budget.name %> </h6>
              <h5 class="fw-bold">$<%= budget.price %> </h5>
              <ul class="budget-detail">
                <li><%= budget.week %>  vez por semana</li>
                <li><%= budget.hours %> horas</li>
                <li><%= budget.iva == 0 ? "No" : "Si" %> incluye IVA</li>
                <li><%= budget.materials == 0 ? "No" : "Si" %>  incluye materiales</li>
              </ul>
              <form action="/admin/presupuestos/<%= budget.id %>?_method=DELETE" method="POST">
              <a href="/admin/editar-presupuesto/<%= budget.id %>" class="btn btn-dark btn-blue mt-1 p-1 btn-edit-delete fw-bold"
                >EDITAR</a
              >
              <button type="submit" class="btn btn-dark btn-red mt-1 p-1 btn-edit-delete fw-bold btn-false"
                >ELIMINAR</button
              >
            </form>
            </div>

          <% }) %>

          </div>
        </div>
      </div>
</div>

<%- include("./partials/footer")  %> 

</body>
</html>